@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap");
@import "tailwindcss" source(".");

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "EB Garamond", serif;

  @keyframes zoomIn {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.15);
    }
  }

  --animate-zoom: zoomIn 5s ease-in-out infinite;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
